rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /student_payments/{monthYear} {
      allow read, write: if true;
      match /records/{studentId} {
        allow read, write: if true;
      }
    }
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
